<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NTS.Utils.BulkUploads.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="PropertyInfoConnection" connectionString="Data Source=10.160.195.88;initial Catalog=NationalTax_WorkingTemp;Integrated Security=false;User ID=Mig27;Password=3uCFkhhpE=7X" providerName="System.Data.SqlClient"/>
    <!--<add name="PropertyInfoConnection" connectionString="Data Source=ntssql1;initial Catalog=NationalTax_WorkingTemp_NoDeply;Integrated Security=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="PropertyInfoConnection" connectionString="Data Source=10.160.195.78;initial Catalog=NTS_Ontario_Migration;Integrated Security=false;User ID=TAPDATAPROCESSING;Password=Qx4ES1vqb66Y6cVZZgIS" providerName="System.Data.SqlClient"/>-->
    <!--<add name="PropertyInfoConnection" connectionString="Data Source=10.160.196.90;initial Catalog=NTS_Ontario_Migration;Integrated Security=false;User ID=TAPDATAPROCESSING;Password=Qx4ES1vqb66Y6cVZZgIS" providerName="System.Data.SqlClient"/>-->
    <!--<add name="FileStoreConnection" connectionString="Data Source=192.168.1.227;initial Catalog=AltusFileData1;User ID=TAP;Password=v4LWvs&amp;7" providerName="System.Data.SqlClient"/>-->
    <!--<add name="FileStoreConnection" connectionString="Data Source=ATSTAGESQL1;initial Catalog=AltusFileData1;;Integrated Security=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="AltusFileStore1Connection" connectionString="Data Source=ATSTAGESQL1;initial Catalog=AltusFileStore1;Integrated Security=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="AltusFileStore1Connection" connectionString="Data Source=192.168.1.227;initial Catalog=AltusFileStore1;User ID=TAP;Password=v4LWvs&amp;7" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
    <applicationSettings>
        <NTS.Utils.BulkUploads.Properties.Settings>
            <setting name="S3AccessKey" serializeAs="String">
                <!--<value>AKIAIELN25MZFOCJRVSQ</value>-->
              <value>AKIAJO2J7JTS55V6XKMA</value>
            </setting>
            <setting name="S3SecretKey" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="Range" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxDegreeOfParallelism" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AltusToolFolderName" serializeAs="String">
                <value>Assessment Valuation Records</value>
            </setting>
            <setting name="NamePredict" serializeAs="String">
                <value>Assess Record</value>
            </setting>
            <setting name="BUCKET_NAME" serializeAs="String">
                <value>nts-prod-documents</value>
              <!--PROD-->

              <!--   <value>nts-prodv2-documents</value>-->
              <!--UAT-->
              <!-- <value>assessor-records</value>-->
              <!--Development /QA-->
             </setting>
            <setting name="MongoDbConnection" serializeAs="String">
              <value>mongodb://10.160.195.69:27017</value> <!--PROD-->
              <!-- <value>mongodb://10.160.196.72:27017</value>-->  <!--UAT-->
                 <!--<value>mongodb://10.160.193.70:27017</value>-->  <!--QA-->
              <!-- <value>mongodb://360ntsappdev:10935</value>--><!-- Development-->
              
            </setting>
        </NTS.Utils.BulkUploads.Properties.Settings>
    </applicationSettings>
</configuration>
